{% extends 'base.html' %}
{% load static %}
{% block content %}
<h4>Agregar un platillo</h4>
<form action="" method="post", enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <div>
            {{ form.restaurant }}
        </div>    
    <div>
        {{ form.name }}
    </div>
    <div>
        {{ form.description }}
    </div>
    <div>
        {{ form.price }}
    </div>
    <div>
        {{ form.category }}
    </div>
    <div>
        {{ form.photo }}
    </div>
    <div>
        {{ form.availability }}
    </div>
</div>
    <button type="submit">Send</button>  
</form>
{% endblock %}