{% extends 'base.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'css/main.js' %}" defer></script>
{% endblock scripts %}
{% block title %}Users registration{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.is_restaurant %}
        {{ user.username }} -|- Es dueño de restaurant
    {% elif user.is_student  %}
        {{ user.username }} -|- Es Estudiante
    {% else %}
    {{ user.username }} -|- Es administrador
    {% endif %}
{% endif %}
{% if messages %}
    {% for message in messages %}
        {% if 'info' in message.tags %}
            {{ message }}
        {% elif 'error' in message.tags %}
            {{ message }}
        {% endif %}
    {% endfor %}
{% endif %}

<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-left">
        <h2 class="navbar-title">LocalEats</h2>
    </div>
    <div class="navbar-right">
        <a href="{% url 'users:register' %}" class="btn-login">Iniciar Sesión</a>
    </div>
</nav>

<!-- Contenedor principal con la imagen de fondo -->
<div class="image-background" style="background-image: url('{% static 'img/cocina-landing.jpg' %}');">
    <!-- Contenedor del buscador -->
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Buscar comida cerca de ti...">
        <button class="search-button">Buscar Comida</button>
    </div>
</div>
{% endblock %}

