{% extends 'base.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'css/main.js' %}" defer></script>
{% endblock scripts %}
{% block title %}Users registration{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.is_restaurant %}
        {{ user.username }} -|- Es dueño de restaurant
    {% elif user.is_student  %}
        {{ user.username }} -|- Es Estudiante
    {% else %}
    {{ user.username }} -|- Es administrador
    {% endif %}
{% endif %}

{% include 'components/messages_.html' %}
<!-- Navbar -->
{% include 'components/navbar_.html' %}
<!-- Contenedor principal con la imagen de fondo -->
<div class="image-background" style="background-image: url('{% static 'img/cocina-landing.jpg' %}');">
    <!-- Contenedor del buscador -->
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Buscar comida cerca de ti...">
        <button class="search-button">Buscar Comida</button>
    </div>
</div>
{% endblock %}

